<div class="menu">
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a [routerLink]="['listing']" routerLinkActive="active" class="nav-link">Customers</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['orders']" routerLinkActive="active" class="nav-link">Orders</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['about']" routerLinkActive="active" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['login']" routerLinkActive="active" class="nav-link">Login</a>
    </li>
  </ul>
</div>