<toaster-container [toasterconfig]="config"></toaster-container>
<div class="headName" *ngIf="name"><h3>{{name}}</h3></div>
<form [formGroup]="myForm">
  <div class="form-group">
      <label>First Name</label>
      <input class="form-control" formControlName="firstName" placeholder="Your first name" required>
      <div *ngIf="myForm.controls['firstName'].invalid && (myForm.controls['firstName'].dirty || myForm.controls['firstName'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['firstName'].errors.required">
          First Name is required.
      </div>
    </div>
  </div>
  <div class="form-group">
      <label>Last Name</label>
      <input class="form-control" formControlName="lastName" placeholder="Your last name" required>
      <div *ngIf="myForm.controls['lastName'].invalid && (myForm.controls['lastName'].dirty || myForm.controls['lastName'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['lastName'].errors.required">
          Last Name is required.
      </div>
    </div>
  </div>
  <div class="form-group">
      <label>Gender</label>
      <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="gender" id="male" value="M" checked>
          <label class="form-check-label" for="male">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="gender" id="female" value="F">
          <label class="form-check-label" for="female">
            Female
          </label>
        </div>
  </div>
  <div class="form-group">
      <label>Email</label>
      <input class="form-control" formControlName="email" placeholder="Your email" required>
      <div *ngIf="myForm.controls['email'].invalid && (myForm.controls['email'].dirty || myForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['email'].errors.required">
            Email is required.
        </div>
        <div *ngIf="myForm.controls['email'].errors.email">
          Email not valid.
        </div> 
      </div>
  </div>
  
  <div class="form-group">
      <label>Address</label>
      <input class="form-control" formControlName="address" placeholder="Your address" required>
      <div *ngIf="myForm.controls['address'].invalid && (myForm.controls['address'].dirty || myForm.controls['address'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['address'].errors.required">
          Address is required.
      </div>
      </div>
  </div>
  
  <div class="form-group">
      <label>City</label>
      <input class="form-control" formControlName="city" placeholder="Your city" required>
      <div *ngIf="myForm.controls['city'].invalid && (myForm.controls['city'].dirty || myForm.controls['city'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['city'].errors.required">
          City is required.
      </div>
      </div>
  </div>
  
  <div class="form-group">
      <label>State</label>
      <input class="form-control" formControlName="state" placeholder="Your state" required>
      <div *ngIf="myForm.controls['state'].invalid && (myForm.controls['state'].dirty || myForm.controls['state'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['state'].errors.required">
          State is required.
      </div>
      </div>
  </div>
  <div class="form-group">
    <button *ngIf="name" class="btn btn-danger" (click)="delete()">Delete</button>
    <button class="btn btn-light" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="onSubmit(myForm)" type="submit" [disabled]="myForm.invalid" >Submit</button>
  </div>
</form>

<div *ngIf="warningAlert" class="alert alert-warning" role="alert">
    This is to let you know that there was no API due to which i have just shown the toaster indicating that it was a successful operation.
    Entire data in the listing is being populated through HTTP call into a data.json file. Data is basically being populated dynamically.
</div>